/*  css font link here  */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Azeret Mono", monospace;
  background: #fff;
}
/* custom css class */
.container {
  width: 1200px;
  margin: auto;
}
/* navbar  */
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.nav-button {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  cursor: pointer;
}
/* banner part */
.banner-section {
  margin-top: 20px;
  background: url("/assest/Hero-bg.png");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header-content h1 {
  color: #0d1321;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
}
.header-content p {
  text-align: center;
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
}
.header-content button {
  border-radius: 8px;
  background: #0d1321;
  color: white;
  padding: 15px 40px;
  font-size: 17px;
  cursor: pointer;
}
/* development part  */
.development-area {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
   display: flex;
  flex-direction: column;
  gap: 40px;
}
.development-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}
.development-description {
  text-align: center;
}
.development-boxarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 10px;
}
.development-boxarea div {
  width: 50%;
}
.development-boxarea-img {
  display: flex;
  justify-content: end;
  align-items: end;
}
.development-boxarea-content h1 {
  color: rgba(7, 10, 19, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
}
.development-boxarea-content p {
  margin-bottom: 20px;
}
.development-boxarea-content button {
  border: 1px solid #0d1321;
  padding: 10px 30px;
  cursor: pointer;
}
.boxarea-imgone {
  display: flex;
  justify-content: start;
  align-items: start;
}
.development-boxarea-box-one {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* Inspiration  */
.Inspiration-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    margin-bottom: 40px;
}
.Inspiration-content h1{
    text-align: center;
}
.Inspiration-content p{
    text-align: center;
}
.inspiration-media iframe{
    border-radius: 20px;
}